<section id="dynamicForm" class="mt-5">
  <div class="container">
    <h2 class="bg-primary mb-0 text-uppercase py-3 text-center text-white">
      Dynamic Form Builder
    </h2>
    <div class="row dynamicFormBackground">
      <div class="col-12 col-md-6">
        <button mat-button color="primary" class="btn-block" (click)="addField({
          type: 'text',
          label: 'Text Input',
          name: 'field1',
          required: true,
          options: [],
          minLength: 3,
          maxLength: 100,
          pattern: ''
        })">
          Add Text Field
        </button>

        <button mat-button color="primary" class="btn-block" (click)="addField({
          type: 'select',
          label: 'Dropdown',
          name: 'dropdown',
          required: true,
          options: [],
          minLength: 0,
          maxLength: 0,
          pattern: ''
        })">
          Add Dropdown
        </button>

        <button mat-button color="primary" class="btn-block" (click)="addField({
          type: 'checkbox',
          label: 'Checkbox',
          name: 'checkbox',
          required: false,
          options: [],
          minLength: 0,
          maxLength: 0,
          pattern: ''
        })">
          Add Checkbox
        </button>

        <button mat-button color="primary" class="btn-block"
          (click)="addRadioField('Select Gender', 'gender', ['Male', 'Female', 'Other'], true)">
          Add Radio Button
        </button>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-container">
          <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div *ngFor="let field of fields" class="form-field">
              <label><b>{{ field.label }}</b></label>

              <ng-container [ngSwitch]="field.type">
                <div *ngSwitchCase="'text'">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ field.label }}</mat-label>
                    <input matInput formControlName="{{ field.name }}" [placeholder]="field.placeholder ||''" />
                    <mat-error *ngIf="form.controls[field.name].invalid && form.controls[field.name].touched">
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div *ngSwitchCase="'select'">
                  <mat-form-field appearance="fill" class="w-100">
                    <mat-label>{{ field.label }}</mat-label>
                    <select matNativeControl formControlName="{{ field.name }}">
                      <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
                    </select>
                    <mat-error *ngIf="form.controls[field.name].invalid && form.controls[field.name].touched">
                      This field is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div *ngSwitchCase="'checkbox'">
                  <label>{{ field.label }}</label>
                  <div formArrayName="{{ field.name }}">
                    <div *ngFor="let option of field.options; let i = index">
                      <mat-checkbox [formControlName]="i">{{ option }}</mat-checkbox>
                    </div>
                  </div>
                  <mat-error *ngIf="form.controls[field.name].invalid && form.controls[field.name].touched">
                    <div *ngIf="form.controls[field.name].hasError('atLeastOneChecked')">
                      At least one checkbox must be selected.
                    </div>
                    <div *ngIf="form.controls[field.name].hasError('minCheckboxes')">
                      You must select at least {{ field.minLength }} checkbox(es).
                    </div>
                    <div *ngIf="form.controls[field.name].hasError('maxCheckboxes')">
                      You can select a maximum of {{ field.maxLength }} checkbox(es).
                    </div>
                  </mat-error>
                </div>

                <div *ngSwitchCase="'radio'">
                  <label *ngFor="let option of field.options">
                    <input type="radio" formControlName="{{ field.name }}" [value]="option" />{{ option }}
                  </label>
                  <mat-error *ngIf="form.controls[field.name].invalid && form.controls[field.name].touched">
                    This field is required.
                  </mat-error>
                </div>

              </ng-container>

              <button class="mb-3" mat-raised-button color="accent" (click)="removeField(field.name)">
                Remove Field
              </button>
            </div>

            <button mat-raised-button color="primary" type="submit" *ngIf="!isDisabled">
              Submit
            </button>
          </form>

          <div *ngIf="successMessage" class="text-success">
            {{ successMessage }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>