<section id="dynamicForm" class="mt-5">
    <div class="container">
      <h2 class="bg-primary mb-0 text-uppercase py-3 text-center text-white">
        Dynamic Form Builder
      </h2>
      <div class="row dynamicFormBackground">
        <div class="col-12 col-md-6">
          <button mat-button color="primary" class="btn-block" (click)="
            addField({
              type: 'text',
              label: 'Text Input',
              placeholder: 'Enter text',
              name: 'field1',
              required: true
            })
          ">
            Add Text Field
          </button>
          <button mat-button color="primary" class="btn-block" (click)="
            addField({
              type: 'select',
              label: 'Dropdown',
              placeholder: '',
              name: 'dropdown',
              required: true,
              options: ['Option 1', 'Option 2']
            })
          ">
            Add Dropdown
          </button>
          <button mat-button color="primary" class="btn-block" (click)="
            addField({
              type: 'checkbox',
              label: 'Checkbox',
              placeholder: '',
              name: 'checkbox',
              required: false
            })
          ">
            Add Checkbox
          </button>
  
          <button mat-button color="primary" class="btn-block" (click)="
            addRadioField(
              'Select Gender',
              'gender',
              ['Male', 'Female', 'Other'],
              true
            )
          ">
            Add Radio Button (Gender)
          </button>
        </div>
  
        <div class="col-12 col-md-6">
          <div class="form-container">
            <form [formGroup]="form" (ngSubmit)="submitForm()">
              <div *ngFor="let field of fields" class="form-field">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>{{ field.label }}</mat-label>
  
                  <ng-container [ngSwitch]="field.type">
  
                    <!-- Text Input -->
                    <input *ngSwitchCase="'text'"
                           matInput
                           formControlName="{{ field.name }}"
                           [placeholder]="field.placeholder" />
  
                    <!-- Textarea -->
                    <textarea *ngSwitchCase="'textarea'"
                              matInput
                              formControlName="{{ field.name }}"
                              [placeholder]="field.placeholder"></textarea>
  
                    <!-- Select Dropdown -->
                    <mat-select *ngSwitchCase="'select'"
                                formControlName="{{ field.name }}">
                      <mat-option *ngFor="let option of field.options" [value]="option">
                        {{ option }}
                      </mat-option>
                    </mat-select>
  
                    <!-- Checkbox -->
                    <mat-checkbox *ngSwitchCase="'checkbox'"
                                  formControlName="{{ field.name }}">
                      {{ field.label }}
                    </mat-checkbox>
  
                    <!-- Radio Buttons -->
                    <mat-radio-group *ngSwitchCase="'radio'"
                                    formControlName="{{ field.name }}">
                      <mat-radio-button *ngFor="let option of field.options"
                                       [value]="option">
                        {{ option }}
                      </mat-radio-button>
                    </mat-radio-group>
  
                  </ng-container>
  
                  <!-- Validation Error -->
                  <div *ngIf="form.controls[field.name].invalid && form.controls[field.name].touched" class="error">
                    <p class="text-danger">This field is required</p>
                  </div>
  
                </mat-form-field>
  
                <button class="mb-3" mat-raised-button color="accent" (click)="removeField(field.name)">
                  Remove Field
                </button>
              </div>
  
              <button mat-raised-button color="primary" type="submit" *ngIf="!isDisabled">
                Submit
              </button>
            </form>
  
            <div *ngIf="successMessage" class="text-success">
              {{ successMessage }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  